/* create Gilroy Light font */
@font-face{
    src: url(../font/Roboto/Roboto-Light.ttf);
    font-family: "Roboto-Light";
    font-weight:normal; 
    font-style:normal;
}

@font-face{
    src: url(../font/Gilroy/Gilroy-Light.ttf);
    font-family: "Gilroy-Light";
    font-weight:normal; 
    font-style:normal;
}
/* all */
*{
    font-family: "Gilroy-Light";
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

input{
    outline: none;
    border: none;
    padding-bottom: 5px;
    padding-left: 3px;
    font-size: 16px;
}
.bg-img{
    /* The image used */
    background-image: url("../image/bg-login.jpg");
    height: 100vh;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* class*/
.login{   
    width: auto;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
        /* ex */
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
/* login-box*/
.login-box{
    background-color: white;
    text-align: center;
    width: auto;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
/* Login Logo */
.login-logo{
    margin-bottom: 20px;
}

.login-text{
    font-size: 18px;
    text-align: left;
    font-weight: bolder;
}

.login-box h1{
    font-size: 30px;
    margin: 0;
    font-weight: bolder;
}


/* Login username */
.login-username{
    margin-top:5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #d9d9d9;
}

.lightgray{
    color:#d9d9d9;
    font-size: 18px;
}

/* Button Login */
.btn-login {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: black;
    font-weight: 700;
    font-size: 15px;
    background-color: #ffffff;
    padding: 15px 70px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn-login span {
    position: relative; 
    z-index: 1;
  }
  
  .btn-login:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    color: black;
    font-weight: bolder;
    background: #f2f2f2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  
  .btn-login:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
    
/* Login password */
.login-password{
    margin-top:5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #d9d9d9;
}
/* Login forgot */
.login-forgot a{
    color: black;
}
.login-forgot a:hover{
    text-decoration: none;
    font-weight: bolder;
    color: red;
}
.login-forgot{
    margin-bottom: 10px;
}

/* Login - orther */
.icon-login-facebook{
    background-color: #3b5998;
}

.icon-login-gmail{
    background-color: #ea4335;
}
.icon{ 
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 50%;
    color:white;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin:5px;
    flex-direction: row;
}
.login-orther a:hover{
    background-color: black;
    color: white;
}
.fa {
    display: inline-block;
    font-size: inherit;
}
.login-orther{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-orther-box{
    margin-top: 20px;
}
/* Register */
.register {
    margin-top: 20px;
}

.register a{
    color:black;
    font-weight: 500;
}
.register a:hover{
    text-decoration: none;
    font-weight: bolder;
    color:red;
}